<div class="addons-wrap d-flex flex-column overflow-y-auto">
    <div class="status d-flex flex-justify-between p-2">
        <div class="title p-1">
            <i class="fa fa-github"></i> GitHub
        </div>
        <div class="branch p-1">
            <span class="name">
                {{ docs.source.branch }}
            </span>
            <i class="fa fa-caret-down"></i>
        </div>
    </div>
    <div class="addons d-flex flex-column height-full p-2 d-none">
        <dl>
            <dd>
                <a href="{{ docs.repository_url }}" target="_blank" title="{{ __.stars | default: 'Stars' }}: {{ rest.stargazers_count }}">
                    <i class="fa fa-bookmark"></i>
                    {{ __.homepage | default: "Repository" }}
                </a>
            </dd>
            <dd>
                <a href="{{ docs.issues_url }}" target="_blank" title="{{ __.open_issues | default: 'Open issues' }}: {{ rest.open_issues }}">
                    <i class="fa fa-question-circle-o"></i>
                    {{ __.issues | default: "Issues" }}
                </a>
            </dd>
            <dd>
                <a href="{{ docs.zip_url }}" title="{{ __.size | default: 'Size' }}: {{ rest.size }} Kb">
                    <i class="fa fa-download"></i>
                    {{ __.download | default: "Download ZIP" }}
                </a>
            </dd>
        </dl>
        <hr>
        <div class="license f6 pb-2">
            网页源码被
            <a href="{{ docs.repository_url }}" target="_blank">{{ docs.license.name | default: "The Unlicense" }}</a>
            开源协议保护
            <br>
            知识内容被
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">CC BY-NC-SA 4.0</a>
            开源协议保护            
        </div>
    </div>
</div>
