{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}

    <br>
    <br>

    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __.previous | default: "上一节" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{ __.next | default: "下一节" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}

    <hr>

    {% if site.gittalk.enable %}
        {%- include extra/gittalk.html -%}
    {% endif %}

{%- endif -%}

<hr>

<div class="copyright text-center text-gray" role="contentinfo">

    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
    <br>
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA 4.0 International License</a>.
    <br>

    Deployed by <a title="Hosted directly from your GitHub repository." target="_blank" href="https://pages.github.com/">GitHub Pages</a>. 
    Powered by <a title="Transform your plain text into static websites and blogs." target="_blank" href="https://jekyllrb.com" rel="nofollow">Jekyll</a>.
    Based on <a title="Just another documentation theme compatible with GitHub Pages." target="_blank" href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a>.

    <br>

    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1280826632'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1280826632%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

